*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.btn{
    width: 30px;
    /* height: 10px; */
}
input{
    padding: 10px;
}
.card{
    width: 90%;
    max-width: 470px;
    margin: 50px auto 0;
    padding: 40px 35px;
    background-color: aquamarine;
    border-radius: 30px;
    color: red;
    text-align: center;
    /* height: 1000px; */
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.search input{
    border-radius: 20px;
    border: 0;
    outline: 0;
    /* margin-left: 58px; */
    width: 250px;
    /* marg */
    
}
.search button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: -35px;
}
.search button img{
    width: 20px;
    background-color: aquamarine;
}
.detail{
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    margin-top: 50px;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    /* flex-direction: column; */
}
 .col img{
    /* max-width: 100px; */
    width: 40px;
    /* padding: 20px; */
    margin-left: 40px;
}
p{
    padding:0 10px;
    margin-top: 10px;
}
.weather{
    margin-bottom: 20px;
}
.temp{
    margin-top: 10px;
    color: white;
    font-size: 45px;
    /* padding: 0 20px; */
}
.city{
    margin-top: 10px;
    color: white;
    /* padding: 0 20px; */
}
.weather{
    display: none;
}
